---
const { heroData } = Astro.props
---

<section class="py-16 md:py-56" style=`background-image: url(${heroData.bannerImage})`>
	<div class="z-1 relative mx-auto w-full max-w-screen-xl px-4 text-white">
		<div class="mb-6 max-w-screen-md lg:mb-0">
			<h1 class="mb-4 w-fit bg-gradient-1 bg-clip-text font-primary text-[40px] font-bold text-transparent xl:text-6xl xl:leading-normal">{heroData.heading}</h1>
			{heroData.subheading && <p class="mb-8 text-lg leading-relaxed text-[#F4F1EC]">{heroData.subheading}</p>}
			<div class="flex flex-col items-center gap-x-8 gap-y-4 sm:flex-row">
				<a
					href={heroData.ctaButton.buttonLink}
					class="inline-flex w-full items-center justify-center bg-gradient-1 px-6 py-3.5 text-center text-lg font-bold uppercase text-black hover:bg-gradient-1 focus:outline-none focus:ring-4 focus:ring-sky-600 sm:w-auto"
					>{heroData.ctaButton.buttonText}</a
				>
				<a
					href={heroData.learnMoreButton.buttonLink}
					class="inline-flex w-full items-center justify-center border-2 border-white px-6 py-3 text-center text-lg font-bold uppercase text-white focus:outline-none focus:ring-4 focus:ring-sky-600 sm:w-auto"
					>{heroData.learnMoreButton.buttonText}</a
				>
			</div>
		</div>
	</div>
</section>