---
import { Image } from 'astro:assets'
import muscleman from '@images/2.png'
import { getCollection } from 'astro:content'
const { block } = Astro.props
const selectedServices = []
const services = await getCollection('services');
services.forEach(service => {
	block.services.forEach((selectedService: any) => {
		if (selectedService == service.id) {
			selectedServices.push(service)
		}
	})
})
---

<section class="bg-[#F4F1EC] py-16 md:pb-20 md:pt-24">
	<div class="mx-auto grid w-full max-w-7xl grid-cols-1 gap-10 px-4 md:grid-cols-2 lg:grid-cols-[45%_45%] lg:gap-[10%]">
		<div>
			<img src={block.featuredImage} alt="pexels" class="aspect-video w-full object-cover md:aspect-auto md:h-full" />
		</div>
		<div>
			<h2 class="mb-5 font-primary text-[38px] leading-tight text-black">{block.header}</h2>
			<p class="mb-12 text-base leading-relaxed md:max-w-xs">{block.subtext}</p>

			<div class="space-y-9 md:max-w-md">
				{
					selectedServices.map((service) => (
						<div class="flex items-start gap-6">
							<div class="flex-shrink-0">
								<Image src={muscleman} alt="Muscle Man" class="h-14 w-fit object-contain" />
							</div>
							<div>
								<h4 class="mb-2 font-primary text-xl font-semibold">{service.data.name}</h4>
								<p class="text-base leading-loose">{service.data.description}</p>
							</div>
						</div>
					))
				}
			</div>
		</div>
	</div>
</section>
